header{
    background-color:#20272a;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  span{
      color: red;
  }
  .btnLogin{
      position:fixed;
      right:150px;
  }
  .btnRegister{
    position:fixed;
    right:50px;
  }