<!--
<div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">
                    InputText
                </div>
                <div class="ui-g-8">
                    <input pInputText type="text" />
                </div>
            </div>
            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">
                    Textarea
                </div>
                <div class="ui-g-8">
                    <textarea pInputTextarea type="text"></textarea>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">
                    Calendar
                </div>
                <div class="ui-g-8">
                    <p-calendar ></p-calendar>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">
                    Suggest
                </div>
                <div class="ui-g-8">
                    <p-autoComplete ></p-autoComplete>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">
                    Button
                </div>
                <div class="ui-g-8">
                    <button pButton label="Save"type="button"></button>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">
                    SplitButton
                </div>
                <div class="ui-g-8">
                    <p-splitButton label="Save" icon="pi pi-check" ></p-splitButton>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">
                    Dropdown
                </div>
                <div class="ui-g-8">
                    <p-dropdown ></p-dropdown>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">
                    Password
                </div>
                <div class="ui-g-8">
                    <input type="text" pPassword />
                </div>
            </div>
    
            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">
                    Listbox
                </div>
                <div class="ui-g-8">
                    <p-listbox ></p-listbox>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-4">
                    Radio
                </div>
                <div class="ui-g-8">
                    <div class="ui-g radiobuttons">
                        <div class="ui-g-12"><p-radioButton name="group1" value="Option 1" label="Option 1" ></p-radioButton>/div>
                        <div class="ui-g-12"><p-radioButton name="group1" value="Option 2" label="Option 2" ></div>
                        <div class="ui-g-12"><p-radioButton name="group1" value="Option 3" label="Option 3"></div>
                        <div class="ui-g-12"><p-radioButton name="group1" value="Option 4" label="Option 4"></div>
                    <div>
                </div>
            </div>
            <div class="ui-g-2">
                Dialog
            </div>
            <div class="ui-g-10">
                <button pButton label="Show" type="button" icon="pi pi-plus" (click)="showDialog()"></button>
            </div>
        </div>
                </div>
            -->