<div class="ui-g">
    <div class="ui-g-3">
        <p-card class="serviceCard">
            <p-header>
                <h2>Plumbing</h2>
            </p-header>
            Plumbing is any system that conveys fluids for a wide range of applications. Plumbing uses pipes, valves,
            plumbing fixtures, tanks, and other apparatuses to convey fluids.
            <p-footer>
                Footer content here
            </p-footer>
        </p-card>
    </div>
    <div class="ui-g-3">
        <p-card>
            <p-header>
                <h2> Electrical</h2>
            </p-header>
            Electrical engineering is a technical discipline concerned with the study, design and application of
            equipment, devices and systems which use electricity, electronics, and electromagnetism.
            <p-footer>
                Footer content here
            </p-footer>
        </p-card>
    </div>
    <div class="ui-g-3">
        <p-card>
            <p-header>
                <h2> Carpentary</h2>
            </p-header>
            Carpentry is a skilled trade and a craft in which the primary work performed is the cutting, shaping and
            installation of building materials during the construction of buildings, ships, timber bridges, concrete
            formwork, etc.
            <p-footer>
                Footer content here
            </p-footer>
        </p-card>
    </div>
    <div class="ui-g-3">
        <p-card>
            <p-header>
                <h2> Painting and Decorating</h2>
            </p-header>
            The purpose of painting is to improve the appearance of a building and to protect it from damage by water,
            corrosion, insects and mold.
            <p-footer>
                Footer content here
            </p-footer>
        </p-card>
    </div>
    <div class="ui-g-3">
        <p-card>
            <p-header>
                <h2>Roofing Service</h2>
            </p-header>

            Roofers replace, repair, and install the roofs of buildings, using a variety of materials, including
            shingles, bitumen, and metal. Roofing work can be physically demanding because it involves heavy lifting, as
            well as climbing, bending, and kneeling, often in extreme weather conditions.
            <p-footer>
                Footer content here
            </p-footer>
        </p-card>
    </div>
    <div class="ui-g-3">
        <p-card>
            <p-header>
                <h2> Tiling</h2>
            </p-header>
            They will interpret drawings; set out and measure; remove any existing covering; prepare surfaces; group and
            lay tiles in the desired pattern; and then finish to the highest standard and client specification.
            <p-footer>
                Footer content here
            </p-footer>
        </p-card>
    </div>
    <div class="ui-g-3">
        <p-card>
            <p-header>
                <h2> Remodeling</h2>
            </p-header>
            Renovation or remodeling is the process of improving a broken, damaged, or outdated structure. Renovations
            are typically either commercial or residential.Additionally, renovation can refer to making something new,
            or bringing something back to life and can apply in social contexts.
            <p-footer>
                Footer content here
            </p-footer>
        </p-card>
    </div>
    <div class="ui-g-3">
        <p-card>
            <p-header>
                <h2> Emergency Repairs</h2>
            </p-header>
            It includes Gas leaks, Total loss of electricity or a dangerous electrical fault,Total loss of water supply
            or a major leak,Any other repair that poses a risk to you or the public or to the structure of the building
            <p-footer>
                Footer content here
            </p-footer>
        </p-card>
    </div>
</div>