<div class="ui-g-2 "></div>
<div class="ui-g-4">

    
        <div class="container">
            <ul>
                <li><a class="active" href="#home">User Details</a></li>
               
              </ul>
      
            <label for="psw"><b>Image:</b></label>
            <img src="assets/image/rose-blue-flower-rose-blooms-67636.jpg" alt="Smiley face" height="42" width="42"><br><br>
      
            <label for="psw"><b>Designation</b></label>
            <input type="text"  name="Designation" required>
      
            <label for="psw"><b>Wages</b></label>
            <input type="number"  name="Wages" required>
      
      
            <label for="psw"><b>ChangePassword</b></label>
            <input type="password"  name="psw" required>
      
            <label for="psw"><b>Contact</b></label>
            <input type="number"  name="Contact" required>
      
          <button type="submit" class="Save">Save</button>
        </div>
      
    </div>
    <div class="ui-g-3"></div>