<div class="aboutUs">
   <img src="assets/images/loggo.png" alt="backimage" height="550" width="100%">

  <h2>ABOUT US</h2>
  <div class="ui-g">
    <div class="ui-g-4">     
        <img src="assets/images/sub1.jpg" alt="sub1" width="300" height="300" class="subImg">
        <h4>Reliable Repair Services</h4>
        <p style="text-align:center;">
          We can handle most of your minor home repairs and interior projects.<br />
          Our commitment is to get the job done right the first time, on every project.
        </p>      
    </div>
    <div class="ui-g-4">
      <div>
        <img src="assets/images/sub2.jpg" alt="sub2" width="300" height="300" class="subImg">
        <h4>Assembly & Installations</h4>
        <p style="text-align:center;">
          At Project Pro - Handyman Services; We offer a vast array of assembly services, including: furniture, toys,
          equipment, etc. <br />
          We install ceiling fans, door bells, TV mounting, custom light switches, bathroom & kitchen fixtures, some
          appliances, motion & timed lighting as well as, garage storage & organization services, etc.<br />
          Projects can be big or as small as hanging a picture or changing a light bulb.
        </p>
      </div>
    </div>
    <div class="ui-g-4">
      <div>
        <img src="assets/images/sub3.jpg" alt="sub3" width="300" height="300" class="subImg">
        <h4>Customer Satisfaction Priority</h4>
        <p style="text-align:center;">
            We strive to save you both time and money by combining attention to detail & experience. <br />
            We are dedicated to providing a great customer experience on each and every project. Customer satisfaction is our priority!
        </p>
      </div>
    </div>
  </div> -->
</div>